{% extends "base.html" %}

{% block title %}KOVEN | Manage Users{% endblock %}

{% block body %}
{% include "navbar.html" %}
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

<section class="section">
    <!-- Notifications -->
    {% include "notifications.html" %}

    <!-- Top -->
    <div class="container level">
        <div class="level-left">
            <h1 class="title">Manage Users</h1>
        </div>
        <div class="level-right">
            <a href="/user" class="button is-primary">Add User</a>
        </div>
    </div>
    <div class="container">
        <p>Bellow is the list of all Users.</p>
    </div>
    
    <!-- User Table -->
    <div class="container">
        <div id="wrapper"></div>
    </div>
</section>

<script>
    var data = Array();
    {% for user in users %}
    data.push(
        ['{{ user.id }}', "{{ user.name }}"]
    )
    {% endfor %}

    // create User table
    new gridjs.Grid({
        columns: ["ID", "Name"],
        data: data,
        search: true,
        pagination: {
            limit: 10
          },
    }).render(document.getElementById("wrapper"));
</script>
{% include "footer.html" %}
{% endblock %}